{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <!-- <h6 class="h2 text-white d-inline-block mb-0">Products</h6> -->
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="/products/">Products</a></li>
                <li class="breadcrumb-item active" aria-current="page">Products Edit</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="/products/productsregpage" class="btn btn-sm btn-neutral">Add New product</a>
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card" style="padding: 40px;">
          <!-- Card header -->
          <div class="card-header border-0">
            <h2 class="mb-0" style="text-align: center;">Edit the product detail</h2>
          </div>

          {% if messages %}
          <ul class="messages">
              <!-- {% for message in messages %} -->
              <li style="color: red;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              <!-- {% endfor %} -->
          </ul>
          {% endif %}
          <form method="POST" class="post-form" action="/products/updatepage/{{productsedit.id}}">  
            {% csrf_token %}  
              <div class="container">  
            
              <br>  
              <div class="form-group">
                <h3>Product Title</h3>
                <div class="input-group input-group-merge input-group-alternative mb-3">
                  <input class="form-control" placeholder="Eg Karnali Blues" type="text" name="title"  value="{{productsedit.title}}"> 
                </div>
              </div>
              <div class="form-group">
                <h3>Product Description</h3>
                <div class="input-group input-group-merge input-group-alternative mb-3">
                  <input class="form-control" placeholder="Eg A nepali novel by buddhi sagar..." type="text" name="description" value="{{productsedit.description}}">
                </div>
              </div>
              <div class="form-group">
                <h3>Product Price</h3>
                <div class="input-group input-group-merge input-group-alternative">
                  <input class="form-control" placeholder="Eg 400" type="number"  name="price"  value="{{productsedit.price}}"> 
                </div>
              </div>
              <div class="form-group row">  
              <label class="col-sm-1 col-form-label"></label>  
              <div class="col-sm-8">  
              <a class="btn btn-danger" href="3" onclick="history.go(-1); return false;">Cancel</a>
              <button type="submit" class="btn btn-primary">Submit</button>  
              </div>  
            </div>  
              </div>  
      </form> 
        
  
        </div>
      </div>
    </div>


    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
